apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloud-config
  namespace: microservices
  labels:
    app: cloud-config
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cloud-config
  template:
    metadata:
      labels:
        app: cloud-config
    spec:
      containers:
        - name: cloud-config
          image: jacoboossag/cloud-config:dev
          ports:
            - containerPort: 9296
          command: ["java"]
          args:
            - "-jar"
            - "/home/app/cloud-config.jar"
            - "--spring.profiles.active=dev"
            - "--eureka.client.serviceUrl.defaultZone=http://service-discovery:8761/eureka/"
            - "--eureka.instance.preferIpAddress=true"
            - "--eureka.instance.hostname=cloud-config"
          env:
            - name: SPRING_ZIPKIN_BASE_URL
              value: "http://zipkin-service:9411/"
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 9296
            initialDelaySeconds: 90
            periodSeconds: 15
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 9296
            initialDelaySeconds: 120
            periodSeconds: 10
            timeoutSeconds: 5